#exportPattern("^[[:alpha:]]+") # Tous les noms alphanumériques
exportPattern("\\.moodle$") # Les fonctions se terminant par .moodle

## Les fonctions extérieures utilisées...
importFrom("stats", "na.omit")
importFrom("utils", "hasName")
importFrom("utils", "read.table")
importFrom("utils", "capture.output")
importFrom("base64enc", "base64encode")
importFrom("grDevices", "dev.off", "png")
importFrom("graphics", "grconvertX", "grconvertY")

## Les méthodes...
S3method( sortie_R.moodle, default  )

S3method( sortie_R.moodle, call  )
S3method( sortie_R.moodle, htest )
S3method( sortie_R.moodle, numeric )
S3method( sortie_R.moodle, table )
